__pycache__
Reading/*
registration.py
Building model/*
Colours Data/*
.ipynb_checkpoints
*.jpg
*.JPG
Reference Images/*
Milestones/*
Point Clouds/Layout*
*Test*
Point Clouds/Ref - RealSense
Layout Pictures/*
*.SLDPRT
